*{
   padding: 0;
   margin: 0;
   text-decoration: none;
   color: #fefcff;
   
}
.App {

   text-align: center;
   background: #fff url("https://wallpapercave.com/wp/wp5481652.jpg")no-repeat center center fixed; 
   background-size: cover; 
   overflow: auto;
}
