body {
  width: 0 auto; /* establece el ancho de la página en 1000 píxeles */
  height: 0 auto; /* establece la altura de la página en 800 píxeles */
  margin: 0 auto; /* centra el contenido horizontalmente */
  background: #fff url("https://www.xtrafondos.com/wallpapers/resoluciones/20/rick-y-morty-fanart-2020_2560x1440_6344.jpg")no-repeat center center fixed;
  background-size: cover;  /*ajusta la image al tamaño de la pg*/
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
